# Ignore Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment files
bin/
include/
lib/
lib64/
pyvenv.cfg

# Ignore logs
logs/
*.log

# Ignore VS Code workspace settings
.vscode/
*.code-workspace

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore dependencies
*.egg-info/
dist/
build/
